*{
    margin:0%;
    padding:0%;
}
li, #screen, #clear{
    outline: 0;
    position: relative;
    padding:20px;
    top: 10%;
    border: 1px;
    list-style: none;
    float: left;
    margin: 5px;
    font-size: 50px;
    border-radius:10px;

}

li{
    color: #6b7596;
    background-color: rgba(219, 29, 175, 0.779);
    width: 50px;
    height: 50px;    
    box-shadow: 0 4px rgba(0,0,0,0.2);
    padding:20px;
}

#screen{
    background-color: white;
    height: 50px;
    width:359px;
    padding:20px;
}
.operator{
    background-color: #ff0062b7;
    position: relative;
}

.column {
    background-color: #9b0b4cab;
    height: 520px;
    width: 410px;
    margin-left: 600px;
    border-radius:10px;
}

.main{
    padding-top:100px;
}

#clear{
    display: block;
    background-color: #a50251;
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
} 